.container {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 1.5rem 1rem;
}

.heading {
    margin-bottom: 1.5rem;
}

.show-more {
    display: flex;
    flex: row;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 3.2rem;
    }
}
